<%- include("partials/header") -%>
    <div class=" containor-fluid">
        <center>
            <br><br><br>
            <h1 class="h1">Logistics And Optimization Strategies<br>In Fresh Fruit Supply Chain</h1>
            <div class="container">
                <br><br>
                <p class="p">Fruits are rich sources of vitamins and minerals without which the human body cannot
                    maintain proper health and develop resistance to disease. Hence, they are essential in human
                    nutrition. They are called protective foods and are of significant importance as the nutritional
                    security of the population. As the population is increasing, the demand for fruits is also
                    increasing. It plays a distinctive role in India’s economy by improving the income of the rural
                    people. As of now, India is one of the largest fruit producing countries in the world. Fruit
                    production in India is growing at a rapid pace over the years. In FY 2008, the fruit production is
                    65.59 million metric tons whereas in FY 2022 it increased to nearly 103 million metric tons so that
                    it can meet the demand without any shortage. <br><br>
                    To meet this demand and provide fruit with the right quality and nutrition, the supply chain plays a
                    very important role in this sector and has become even more important due to its perishable nature
                    and shelf life being very short. The supply chain includes various components such as producers,
                    suppliers, warehouses, shipping and transportation companies, distribution centers and retailers.
                    The functions of a supply chain include production improvement, marketing, operations, maintenance,
                    sales, finance, and customer service. This not only saves costs, but also maintains and improves the
                    quality of delivered products, which are inherently perishable. Due to their very short shelf life
                    and perishable nature, these items require appropriate transportation, handling and storage
                    facilities to be able to be delivered fresh to the customer. It also manages the relationship
                    between the companies responsible for the efficient production and delivery of fresh produce from
                    the farm to the end consumer, in order to reliably respond to customer requests for food, quantity,
                    quality and price. A more efficient supply chain not only helps increase production and per capita
                    consumption, but also contributes to the economic development of the country. Supply chains have
                    both advantages and challenges. Benefits include increased production, effective sales, improved
                    demand visibility and data analytics, increased retailer profits, added value for various
                    stakeholders such as farmers, consolidators and consumers. Supply chain challenges include
                    increasing costs across the supply chain, such as transportation costs, transfer and warehouse
                    management, supplier labor costs and maintenance, and the need to improve speed, quality, and
                    service to meet consumer demands. <br><br>
                    As the entire supply chain faced the greatest inefficiencies and various problems, the authors
                    identified even more factors affecting the supply chain of the Indian fruit industry. The entire
                    Indian fruit supply chain faces significant challenges of post-harvest loss and waste due to various
                    factors. Identifying problems and challenges paves the way for planning and implementing effective
                    mitigation strategies. According to the Indian Agricultural Research Institute (IARI), almost 30-40%
                    of the total production is wasted at various levels of the supply chain, resulting in a loss of Rs 2
                    lakh crores per year. Giant fruit production requires huge warehouses across the country to safely
                    store the fruit, transport it to stores when needed, and deliver it to consumers. Poor planning of
                    fruit shipments, limited warehouse space, inadequate storage conditions, poor warehouse maintenance,
                    inadequate refrigerated and most of the fruits are wasted because it was damaged or spoiled during
                    shipment or transportation to long distances.</p>
            </div>
        </center>
    </div>

    <div class="cc2 containor-fluid">
        <center>
            <br><br><br>
            <h1 class="h1">OUR TEAM</h1><br><br><br>
            <div class="row">
                <div class="col-3 col-md-3 col-sm-3">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/avatar.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Sanidhya Soni</p>
                        </div>
                    </div>
                </div>
                <div class="col-3 col-md-3 col-sm-3">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/avatar.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Abhay Kapatia</p>
                        </div>
                    </div>
                </div>
                <div class="col-3 col-md-3 col-sm-3">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/avatar.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Heraj Ganteyada</p>
                        </div>
                    </div>
                </div>
                <div class="col-3 col-md-3 col-sm-3">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/avatar.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Omender Singh Tomar.</p>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </div>



    <%- include("partials/footer") -%>