<%- include("partials/header") -%>

    <div class="cc">
        <p class="hh rainbow-text">SA</p>
        <center class="hh"><img class="hh" src="assets/00.png" alt=""></center>
        <p class="hh rainbow-text">HO</p>
    </div>
    <br><br><br><br>
    <div class=" containor-fluid">
        <center>
            <br><br><br>
            <h1 class="h1">Logistics And Optimization Strategies<br>In Fresh Fruit Supply Chain</h1>
            <div class="container">
                <br><br>
                <p class="p">The fresh fruit agriculture and distribution sector is faced with risks and uncertainties
                    such as climate conditions, fruit tenure, inbound and outbound time etc.The planning framework for
                    production gathering, storing, and distribution is highly complex.This project focuses on the recent
                    progress in mathematically based decision-making to account for uncertainties in the fresh fruit
                    supply chain. This model is mostly based on data structures and algorithm programming to obtain
                    robust optimization.The functional area of application includes segregation, storage optimization,
                    optimized logistic, and distribution.</p><br><br><br>
            </div>
        </center>
    </div>
    <div class=" container-fluid">
        <div class="row">
            <div class="col-6">
                <h1 class="h1">OUR MOTIVATION</h1><br><br>
                <center <p class="p">In recent times we went to a fruit whole seller and there was alot of mismanagement
                    and wastage of stuff due to no structure or algorithm to sell fruits. Hence we got an idea to
                    implement our understanding of DSA to improve the process and make it more efficient. The project
                    aims to have the following <CENTER class="p"> <br> "Optimized Space Utilization <br>Faster Inventory
                        Turnover <br>Better Stock Control <br>Automation of the system"<CENTER>
                            </p>
                        </center>

            </div>
            <div class="col-6">
                <img src="assets/mot.jpg" class="moti" alt="">
            </div>
        </div>
    </div>
    <br><br><br>
    <div class=" container-fluid">
        <div class="row">
            <div class="col-6">
                <img src="assets/obj.jpg" class="moti" alt="">
            </div>
            <div class="col-6">
                <h1 class="h1">OUR OBJECTIVE</h1><br><br>
                <center <p class="p">In recent times we went to a fruit whole seller and there was alot of mismanagement
                    and wastage of stuff due to no structure or algorithm to sell fruits. Hence we got an idea to
                    implement our understanding of DSA to improve the process and make it more efficient. The project
                    aims to have the following <CENTER class="p"> <br> "Optimized Space Utilization <br>Faster Inventory
                        Turnover <br>Better Stock Control <br>Automation of the system"<CENTER>
                            </p>
                        </center>

            </div>

        </div>
    </div>


    <div class="cc2 containor-fluid">
        <center>
            <br><br><br>
            <h1 class="h1">OUR TEAM</h1><br><br><br>
            <div class="row">
                <div class="col-3 col-md-3 col-sm-3">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/avatar.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Sanidhya Soni</p>
                        </div>
                    </div>
                </div>
                <div class="col-3 col-md-3 col-sm-3">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/avatar.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Abhay Kapatia</p>
                        </div>
                    </div>
                </div>
                <div class="col-3 col-md-3 col-sm-3">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/avatar.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Heraj Ganteyada</p>
                        </div>
                    </div>
                </div>
                <div class="col-3 col-md-3 col-sm-3">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/avatar.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Omender Singh Tomar.</p>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </div>

    <%- include("partials/footer") -%>