<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style_stock.css">
    <title>SAHO</title>
</head>

<body>
    <nav class="navbar navbar-expand-md  ">
        <a class="navbar-brand" href="#">
            <h2>SAHO</h2>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <img src="assets/toggle.png" alt="Toggle" width="40px">
        </button>
        <div class="NC1 container-fluid">
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/inventory">Inventory</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/stock">Stock</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dispatch">Dispatch</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


<div class="box">
    <div class="row">
        <div class="col-6">
            <img class="inv" src="assets/ari.jpg" alt="">
            <div class="typewriter">
                <h1>"Optimize your Logistic"</h1>
            </div>
        </div>
        <div class="col-6">
            <div class='container2'>
                <div class='card'>
                    <h2>Stock Arrival</h2>
                    <form action="post" class='simple-form'>
                        <input class='form-input' required type='text' id='Row' placeholder='Total Stock' pattern='^[A-Z][a-z]{4,10}$'></input>
                    <div class='explainer'>Start Date</div>
                        <input required class='form-input' type='date' id='Rack Capacity' placeholder='Rack Capacity'></input>
                        <div class='explainer'>End Date</div>
                        <input required class='form-input' type='date' id='Heightt of Bin' placeholder='Heightt of Bin'></input>
                    </form>
                    <div class='bottom'>
                        <label id='submit-button' class='label-button' for='checkbox1'>
                            <input type='checkbox' id='checkbox1'>
                            </input>
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
const inputs = document.querySelectorAll(".form-input");
const checkbox = document.getElementById("checkbox1");

for (let input of inputs) {
	if (!input.checkValidity()) {
		checkbox.disabled = true;
	}
	input.addEventListener("change", (e) => {
		if (e.currentTarget.checkValidity()) {
			checkbox.disabled = false;
		}
	});
}
</script>
<%- include("partials/footer") -%>