<footer class="footer-bottom">
    <div >
        <p>copyright &copy;2022 <a href="#">SA DEVELOPERS</a>  </p>
                <div class="footer-menu">
                  <ul class="f-menu">
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Dispatch</a></li>
                  </ul>
                </div>
    </div>

</footer>
</body>

</html>