html, body {
	background-color: var(--darkblue);
	height: 100%;
	width: 100%;
}

*,
::before,
::after {
	font-family: "Inter", sans-serif;
	border: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--darkblue: hsl(240deg 75% 5%);
	--blue: hsl(240deg 75% 60%);
	--purple: hsl(260deg 75% 65%);
	--lightgray: hsl(240 10% 70%);
	--red: hsl(320deg 75% 60%);
	--blueshadow: hsl(230deg 50% 50% / 0.4);
	--field: hsl(240deg 30% 15%);
}

.navbar {
    background-color: rgba(38, 40, 43, 0.3);
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 64px;
    letter-spacing: 0.12em;
  }
  
  .navbar-brand {
    padding: 0px 0px 0px 1.5rem;
    color: #fff;
  }
  
  .navbar-toggler {
    padding: 0px;
  }
  
  .nav-link {
    color: #fff;
  }
  
  .nav-link:hover {
    color: #dadada;
  }
.container2 {
	height: 100%;
	padding: 4rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    background-color: #000;
}

.card {
	border: 0.25rem solid var(--blue);
	border-radius: 1rem;
    background-color: #000;
	padding: 2rem;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	flex: 1 1 auto;
	justify-items: center;
	align-items: center;
	box-shadow: 5px 15px 70px 5px var(--blueshadow);
}

.card h2 {
	color: white;
	flex: 0 1 0;
	padding: 0;
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 1.5rem;
}

form {
	display: flex;
	width: 100%;
	flex-flow: column wrap;
	gap: 1rem;
	align-content: center;
}

form input {
	border-radius: 0.5rem;
	padding: 0.75rem;
	font-size: 1rem;
	width: 100%;
	flex-grow: 1;
	min-width: 200px;
	outline: none;
	background-color: var(--field);
	color: white;
}

.explainer {
	color: white;
	font-weight: 200;
	font-size: 0.9rem;
	line-height: 1.2rem;
	text-align: center;
}

form input::placeholder {
	color: var(--lightgray);
}

form input:has(+ .explainer) {
	margin-bottom: -0.5rem;
}

form input:focus {
	outline: 3px solid var(--blue);
	border: none;
}

form input:valid {
	outline: 3px solid var(--purple);
}

form input:is(:required):is(:invalid):not(:focus, .optional) {
	outline: 3px solid var(--red);
	border: none;
}

.bottom {
	flex: 0 1 auto;
	width: 100%;
}

label,
label > *,
input {
	cursor: pointer;
}

.label-button {
	width: 100%;
	background-color: var(--blue);
	border-radius: 1rem;
	transition: background-color 400ms ease-in-out;
	padding-block: 2rem;
	position: relative;
	display: flex;
	align-items: center;
}

.label-button:before,
.label-button:after {
	color: white;
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: all 400ms ease-in-out;
}

.label-button:after {
	content: "Processed!";
	opacity: 0;
	color: var(--darkblue);
}

.label-button:before {
	content: "Process It";
	opacity: 1;
	color: white;
}

input[type="checkbox"] {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 1rem;
	margin: auto;
}

input:disabled, .label-button:has(input:disabled) {
	cursor: not-allowed;
}

.label-button:has(input:checked) {
	background-color: var(--purple);
}

.label-button:has(input:checked)::before {
	opacity: 0;
}

.label-button:has(input:checked)::after {
	opacity: 1;
}

/* Show or Hide the checkbox for positioning */
input[type="checkbox"] {
	opacity: 0;
}



footer {
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 40px;
    color: #fff;
  }
  
  .footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
  }
  
  .footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  
  .footer-bottom p a {
    color: #44bae8;
    font-size: 16px;
    text-decoration: none;
  }
  
  .footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
  }
  
  .footer-menu {
    float: right;
  
  }
  
  .footer-menu ul {
    display: flex;
  }
  
  .footer-menu ul li {
    padding-right: 10px;
    display: block;
  }
  
  .footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
  }
  
  .footer-menu ul li a:hover {
    color: #27bcda;
  }
  
  @media (max-width:500px) {
    .footer-menu ul {
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }

  .inv{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
  }

  .typewriter h1 {
    color: #fff;
    position: relative;
    padding-top: 40%;
    padding-left: 30px;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    z-index: 2;
    animation: 
      typing 3.5s steps(30, end);
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  